body {
  color: #164141;
}
#game {
  background-color: beige;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 60px);
}
.disc {
  background-color: black;
  border-radius: 50%;
  height: 50px;
  margin: 2px;
  width: 50px;
}
